<!DOCTYPE html>
<html>
<head>
  <title>Another simple example</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
<body>
  <p style='text-align:center'>VELMA CONTROLLER</p>
  <div style='display:flex'>
    <p style='margin-left:16%'>AUTOMATIC</p>
    <p style='margin-left:34.5%'>MANUAL</p>
  </div>
  <div style='margin-top:5%'>
    <a href=\nav><button style='margin-left:9%; margin-right:0' class="button button3">return to driveway</button></a>
    <a href=\forward><button style='margin-left:27%' class="button button1">forward</button></a>
  </div>
  <div>
    <a href=\explore><button style='margin-left:5%; margin-right:0' class="button button2">explore</button></a>
    <a href=\gap_follow><button style='margin-left:1%; margin-right:0' class="button button2">advance</button></a>
    <a href=\left><button style='margin-left:14%; margin-right:0' class="button button1">left</button></a>
    <a href=\right><button style='margin-left:2%; margin-right:0' class="button button1">right</button></a>
  </div>
  <div>
    <a href=\wall_follow><button style='margin-left:5%; margin-right:0' class="button button2">patrol</button></a>
    <a href=\guard><button style='margin-left:1%; margin-right:0' class="button button2">guard</button></a>
    <a href=\backward><button style='margin-left:22%' class="button button2">backward</button></a>
  </div>
</body>
<script>
  
</script>
</html>
