<launch>
  <!-- Interface Pins -->
  <node pkg="gpio_control" type="gpio_control_node" name="tail_light" args="--device pi --output " output="screen"/>
  <node pkg="gpio_control" type="gpio_control_node" name="left_blinker" args="--device pi --output " output="screen"/>
  <node pkg="gpio_control" type="gpio_control_node" name="right_blinker" args="--device pi --output " output="screen"/>
  <node pkg="gpio_control" type="gpio_control_node" name="reverse_light" args="--device pi --output " output="screen"/>
  <node pkg="gpio_control" type="gpio_control_node" name="tail_lights" args="--device pi --output " output="screen"/>
  
  <!-- Node to read drive messages -->
  <node pkg="led_control" type="indicator" name="indicator_leds_operator" output="screen"/>
  
  <!-- Node to sense close obstacles -->
  <node pkg="led_control" type="blind_spot" name="blind_spot_leds_operator" output="screen"/>
  
  <!-- LED Interface -->
  <node pkg="led_control" type="led_interface" name="led_interface" output="screen"/>
  
</launch>
